/***PROPRIEDADES PADRÃO***/
*{    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    
}
a {
    text-decoration: none;
    color: #FFAE00;
}
button {
    background-color: #2C3892;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #FFAE00;
} 
/***ESPAÇO DOS DIV***/
#itensLista {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    padding: 4%;
    background-color: #f0f0f0;
    backdrop-filter: blur(5px);
}

/***ESPAÇO DOS CLASS***/
.logo {
    width: 180px;
    height: auto;
}
.headerDoSite {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3892;
    backdrop-filter: blur(5px);
    padding: 0px;
    color: white;
    gap: 50px;
    z-index: 1000 !important;
}
.esquerda {
    flex: 1;
    text-align: center;
    background-color: #2c389259;
    backdrop-filter: blur(5px);
    height: 50vh;
    border-radius: 25px;
    padding: 20px;
    margin-top: -222px;
    
    
}
.direita {
    flex: 1;
    text-align: center;
    background-color: #2c38925b;
    backdrop-filter: blur(5px);
    height: 50vh;
    border-radius: 25px;
    padding: 20px;
    margin-top: -222px;
}
.footer {
    text-align: center;
    background-color: #2C3892;
    color: white;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}